<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}
</head>
<body class="flex flex-col items-center">
  <!-- 🚀 CHANGED FROM max-w-3xl TO max-w-6xl -->
  <div class="w-full max-w-6xl px-5 sm:px-4">
    {{ partial "header.html" . }}
  <main class="w-full">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="border-t-2 text-xs pt-4 mt-16">
    {{ partial "footer.html" . }}
  </footer>
  </div>
</body>
</html>