<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}
</head>
<body class="canac-body">
  <div class="canac-container">
    {{ partial "header.html" . }}
    <main class="canac-main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="canac-footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
