<div class="canac-author-bio">
  {{ with site.Params.author.avatar }}
    <img src="{{ . }}" alt="avatar" class="canac-avatar">
  {{ end }}
  <div class="canac-author-info">
    <div class="canac-author-name">{{ site.Params.author.name }}</div>
    <div class="canac-author-desc">{{ site.Params.author.description }}</div>
  </div>
</div>

<div class="canac-footer-bottom">
  <span class="canac-permalink">
    <a href="{{ .Permalink }}">Permalink</a>
  </span>
  <span class="canac-copyright">&copy; {{ now.Year }} {{ site.Params.author.name }}</span>
</div>
